<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=0,viewport-fit=cover">
    <meta name="referrer" content="never">
    <title>快讯</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./../css/mint-ui.css">
    <link rel="stylesheet" href="./../css/swiper.css">
    <link rel="stylesheet" href="./../css/common.css">
    <link rel="stylesheet" href="./../css/main.css">

    <style type="text/css">
        #app{
            -webkit-overflow-scrolling: touch;
        }
        .myloaddiv{
            min-height: 100%;
            padding-top: 40px;
        }
        .content-body{
            height: 100%;
            overflow: scroll;
        }
        .news-time{
            background-color: #C9E8F6;
            color: #2A6FAD;
            padding: 3px 4px;
            border-radius: 10px;
            height: 22px;
        }
        .color-red{
            color: #e74c3c;
        }

    </style>
</head>
<body>
<div id="app">
    <mt-header fixed title="正在">
        <span slot="left">
            <mt-button @click="back()" icon="back">返回</mt-button>
        </span>
    </mt-header>
    <div class="content-body">
        <mt-loadmore
                ref="loadmoreStock"
                class="myloaddiv"
                :topDistance="60"
                :maxDistance="90"
                :top-method="loadTopStock"
                @translate-change="translateChangeStock"
                @top-status-change="handleTopChangeStock"

                :bottom-method="loadBottomStock"
                @bottom-status-change="handleBottomChangeStock"
                :bottom-all-loaded="allLoadedStock"
        >
            <div slot="top" class="mint-loadmore-top">
                <span v-show="topStatusStock !== 'loading'" :class="{ 'rotate': topStatusStock === 'drop' }">↓下拉刷新</span>
                <span v-show="topStatusStock === 'loading'">Loading...</span>
            </div>
            <!--正在模块 start-->
            <div class="going-news ">
                <!--新闻模块模块主体-->
                <div class="" style="border-left: 1px solid #e1e1e1;padding: 7px 7px 7px 25px;margin: 0px 0px 0px 20px;" v-for="(item,index) in newsOutList">
                    <div class="textleft">
                        <div class="mb5">
                            <div class="inline-block ft12 news-time" v-text="cureDateString(item).time"></div>
                            <div class="inline-block" style="border-top: 1px solid #e1e1e1;position: relative;top: 12px;left: -91px;width: 30px">
                                <div class="inline-block" style="background-color: #2A6FAD;border: 3px solid #C9E8F6;width: 9px;height: 9px;border-radius: 50%;position: relative;top: -12px"></div>
                            </div>
                        </div>
                        <div :class="cureResultList(item)[1]==='0'?'color-red':''" v-html="cureResultList(item)[3]"></div>
                        <div v-if="cureResultList(item)[6]" @click="showPopup('http://image.jin10.com/'+cureResultList(item)[6])">
                            <img :src="'http://image.jin10.com/'+cureResultList(item)[6]" width="90" height="60">
                        </div>
                    </div>
                </div>
            </div>
            <!--正在模块 end-->

            <div slot="bottom" class="mint-loadmore-bottom">
                <span v-show="bottomStatusStock !== 'loading'" :class="{ 'is-rotate': bottomStatusStock === 'drop' }">上拉加载更多</span>
                <span  v-show="bottomStatusStock === 'loading'">
                <mt-spinner type="snake"></mt-spinner>
            </span>
            </div>
        </mt-loadmore>

        <mt-popup
                v-model="popupVisible">
            <img :src="popupUrl" style="width: 100vw" alt="">
        </mt-popup>
    </div>
</div>
</body>
<script src="./../js/vue.min.js"></script>
<script src="./../js/swiper.js"></script>
<script src="./../js/mint-ui.min.js"></script>
<script src="./../js/axios.min.js"></script>

<script src="./../js/httpUtils.js"></script>
<script src="./../js/urlInfo.js"></script>

<script>
    new Vue({
        el: '#app',
        data:{
            topStatusStock: '',//下拉刷新页面的状态
            translateStock: 0,//下拉距离
            moveTranslateStock:0,
            allLoadedStock: false,
            bottomStatusStock: '',
            wrapperHeightStock: 0,
            newsOutList:[],
            currentPage:1,

            popupVisible:false,
            popupUrl:'',
        },
        created() {

        },
        mounted() {
            this.loadNewsInfo();
        },
        watch: {
        },
        methods: {
            showPopup(imgUrl){
                this.popupUrl = imgUrl;
                this.popupVisible = true;
            },
            loadNewsInfo(){
                $req.post(urlInfo.getNewsOutList4App,{
                    "currentPage": this.currentPage,
                    "pageSize": 10,
                    "news_source": "jinshi"
                },this).then(result=>{
                    console.log("getNewsOutList4App",result.data.list)
                    this.newsOutList = result.data.list;
                });
            },
            back(){
                window.location.href="./../index.html";
            },
            loadTopStock() {
                this.currentPage = 1;
                $req.post(urlInfo.getNewsOutList4App,{
                    "currentPage": this.currentPage,
                    "pageSize": 10,
                    "news_source": "jinshi"
                },this).then(result=>{
                    this.newsOutList = result.data.list;
                    this.translateStock = 0;
                    this.$refs.loadmoreStock.onTopLoaded();
                    this.allLoadedStock = !result.data.hasNext;
                });
            },
            /**
             *   top-status-change 每当 状态改变 时触发
             *   已知状态 pull 默认状态，drop 释放后执行 top-method， loading drop状态后待没有执行onTopLoaded()方法时的状态。
             */
            handleTopChangeStock(status) {
                this.moveTranslateStock = 1;
                this.topStatusStock = status;
            },
            // @translate-change 当我执行 滑动操作时 总会触发此事件
            translateChangeStock(translate) {
                const translateNum = +translate;
                this.translateStock = translateNum.toFixed(2);
            },
            handleBottomChangeStock(status) {
                this.bottomStatusStock = status;
            },
            loadBottomStock() {
                this.currentPage = this.currentPage + 1;
                $req.post(urlInfo.getNewsOutList4App,{
                    "currentPage": this.currentPage,
                    "pageSize": 10,
                    "news_source": "jinshi"
                },this).then(result=>{
                    this.newsOutList = this.newsOutList.concat(result.data.list);
                    this.allLoadedStock = !result.data.hasNext;
                    this.$refs.loadmoreStock.onBottomLoaded();
                });


            },
            cureResultList(jinshiItem){
                let newsArray = jinshiItem.jinshi_content.split('#');
                return newsArray;
            },
            cureDateString(jinshiItem){
                let newsArray = jinshiItem.jinshi_content.split('#');
                let dateTime = newsArray[2];
                let dateStrs = dateTime.split(' ')[0].split('-');
                let timeStrs = dateTime.split(' ')[1].split(':');
                return {month:dateStrs[1],day:dateStrs[2],time:dateTime.split(' ')[1]};
            }
        },
        computed: {

        },
        components: {
        }
    })
</script>
</html>
